h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif JP';
    font-size: 1.5rem;
}

body {
    border-top: 1.5rem solid #211e55;
    background: linear-gradient(0deg,transparent 2.4375rem,#f6f6f6 2.5rem),linear-gradient(270deg,transparent 2.4375rem,#f6f6f6 2.5rem);
    background-size: auto auto, auto auto;
    background-size: 2.5rem 2.5rem;
    color: #333;
    font-family: 'Noto Serif JP', serif;
    font-size: 1rem;
}

header {
    margin-bottom: 1rem;
    font-family: 'Source Code Pro';
}

.container{
    max-width: 750px;
}

.masthead-brand {
    margin-bottom: 0;
    font-size: 2.5rem;
}
.masthead-brand-link{
    color: #211e55;
}
.masthead-brand-link:hover, .masthead-brand-link:focus{
    color: #68699b;
}

.nav-masthead .nav-link {
    color: #211e55;
    padding: .25rem 0;
    font-size: 2rem;
    border-botto m: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
    color: #68699b;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

.left {
    float: left;
    text-align: left;
}
.right {
    float: right;
    text-align: right;
}

.blog-footer {
    padding: 2rem 0;
    color: #999;
    text-align: center;
    font-size: 0.95rem;
}

#content img {
    max-width: 100%;
    height: auto;
}

#post-tags {
    margin-top: 1rem;
}

#prev-next {
    padding: 0.9rem 0;
}

.post-header {
    margin-bottom: 0rem;
}
.post-header h1 {
    font-size: 1.5rem;
    color: #211e55;
}

#post-meta {
    font-size: 0.8rem;
    color: rgba(0,0,0,0.4)
}

#page-header {
    color: #211e55;
    border-bottom: 0.06rem solid #dbdbdb;
}
#page-header h1 {
    font-size: 2rem;
}

pre {
    overflow-x: auto;
}
pre: ; code {
    display: block;
    padding: 0.5em;
    overflow-wrap: normal;
    white-space: pre;
}

code {
    font-family: "Source Code Pro";
    color: #428bca;
}

pre, code, .hljs {
    font-family: "Source Code Pro";
    background-color: #f6f7f8;
}
